{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- CSS Plugins -->
	<link rel="stylesheet" href="{% static './css/1.css'%}">
	<link rel="stylesheet" href="{% static './css/2.css'%}">
	<link rel="stylesheet" href="{% static './css/3.css'%}">

	<!-- CSS Global -->
	<link rel="stylesheet" href="{% static './css/4.css'%}">


    <footer class="section section_footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                    
                        <!-- About Us -->
                        <h5 class="section_footer__heading">
                            About Us
                        </h5>
                        <p>
                            While functions and parties are fun events, planning them requires serious attention to details and excellence in management skills. At Yukthi, we bring professional execution rhythm to the entertainment quotient of events that can either be a celebration of the memory or the things to come in future.
                        </p>
    
                    </div>
                    <div class="col-sm-4">
                    
                        <!-- Contact info -->
                        <h5 class="section_footer__heading">
                            Contact info
                        </h5>
                        <ul class="section_footer__info">
                            <li>
                                <i class="fas fa-map-marker-alt"></i> SIT building,JNTUH,kukatpally,Hyderabad
                            </li>
                            <li>
                                <i class="fas fa-phone"></i> +1 9999999999
                            </li>
                            <li>
                                <i class="far fa-envelope"></i> <a href="mailto:admin@domain.com">admin@domain.com</a>
                            </li>
                        </ul>
    
                    </div>
                    <div class="col-sm-4">
                    
                        <!-- Opening hours -->
                        <h5 class="section_footer__heading">
                            Opening hours
                        </h5>
                        <div class="section_footer__open">
                            <div class="section_footer__open__days">Monday - Thursday</div>
                            <div class="section_footer__open__time">10:00 AM - 11:00 PM</div>
                        </div>
                        <div class="section_footer__open">
                            <div class="section_footer__open__days">Friday - Sunday</div>
                            <div class="section_footer__open__time">12:00 AM - 03:00 AM</div>
                        </div>
    
                    </div>
                </div> <!-- / .row -->
                <div class="row">
                    <div class="col-12">
                    
                        <!-- Copyright -->
                        <div class="section_footer__copyright">
                            &copy; <span id="js-current-year"></span> Yukthi. All rights reserved.
                        </div>
    
                    </div>
                </div> <!-- / .row -->
            </div> <!-- / .container -->
        </footer>
    
<!-- JS Global -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnKt8_N4-FKOnhI_pSaDL7g_g-XI1-R9E"></script>

<!-- JS Plugins -->
<script src="assets/plugins/parallax/parallax.min.js"></script>
<script src="assets/plugins/isotope/lib/imagesloaded.pkgd.min.js"></script>
<script src="assets/plugins/isotope/isotope.pkgd.min.js"></script>
<script src="assets/plugins/flickity/flickity.pkgd.min.js"></script>
<script src="assets/plugins/lightbox/js/lightbox.min.js"></script>
<script src="assets/plugins/reservation/reservation.js"></script>
<script src="assets/plugins/alerts/alerts.js"></script>

<!-- JS Custom -->
<script src="assets/js/theme.min.js"></script>
<script src="assets/js/custom.js"></script>