<!DOCTYPE html>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
      form {
    margin-left: 35%;
    width: 70%;
}
body{background:url(https://images.wallpaperscraft.com/image/bank_garland_light_118870_2560x1600.jpg);
background-attachment:fixed;
background-size:cover;
}
  </style>

<br>
<br>
<br>
<H1  align='center' style="color: aliceblue">FeedBack</H1>
<br>
<br>
<br>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>